<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
    <title>JSF Demo</title>
</h:head>

<h:body>
    <h:outputText value="#{converterBean.conversionSummary}"/><br/><br/>
    <h:outputText value="#{converterBean.result}"/>

    <h:form>
        <h:commandButton action="back" value="#{converterBean.buttonLabel}"/>
    </h:form>


</h:body>

</html>
